/* --------------------------------------BRAND_INFO------------------------------------------ */



.brandinfo {
   
    position: relative;
    height: 220px;
    width: 100%;
    text-align: center;
}

.brandinfotext1 h1 {
    position: absolute;
    width: 321px;
   font-size: 26px;
    left: 50%;
    margin-top: 40px;
    margin-left: -160px;
    color: #2d2d2d;
    display: block;
   
}


.brandinfoPara p {
    position: absolute;
    line-height: 25px;
   
    width: 92%;
    margin-top: 100px;
    left: 50%;
    color: #2d2d2d;
    margin-left: -46%;
    font-weight: 300;
}
/* ------------------------------Mobile */

@media screen and (min-width:1240px) {
    
    
    .brandinfoPara p {
        width: 550px;
        margin-left: -275px;
    }
}

@media screen and (min-width:600px) and (max-width:1240px) {
    .brandinfotext1 h1{
        width: 300px;
        font-size: 30px;
        text-align: center;
    }
    .brandinfoPara p {
        width: 464px;
        margin-left: -232px;
    }
} 