
.categories {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 360px);
    grid-gap: 7px;
  
    
    
    
}
.categoryLinks {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    color: white;
    font-family: 'Raleway';
    text-decoration: none;
}
.categoryLinks:hover {
    color:lightgray; 
}

.flex_Row1, .flex_Row2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7px;
    
    
}
.men {
    grid-column-start: 1;
    grid-column-end: 3;
    
        
        background:linear-gradient(rgba(48, 45, 45, 0.3),rgba(53, 47, 47, 0.3)),url("../images/mens-category.jpg") ;
        background-size: contain ,cover;
        background-position: center;
       
        
    }
    .trends {
        grid-column-start: 1;
        grid-column-end: 2;
        background:linear-gradient(rgba(48, 45, 45, 0.3),rgba(53, 47, 47, 0.3)),url("../images/trends-category.jpg") ;
        background-size: contain ,cover;
        background-position: center;
       flex-shrink: 0;
    
    }
    .glasses {
        grid-column-start: 2;
        grid-column-end: 3;
        background:linear-gradient(rgba(48, 45, 45, 0.3),rgba(53, 47, 47, 0.3)),url("../images/glasses-category.jpg") ;
        background-size: contain ,cover;
        background-position: center;
        flex-shrink: 0;
       
    }
    .sale {
        grid-column-start: 1;
        grid-column-end: 2;
        background:linear-gradient(rgba(48, 45, 45, 0.3),rgba(53, 47, 47, 0.3)),url("../images/sale-category.jpg") ;
        background-size: contain ,cover;
        background-position: center;
       
    }
    .bags {
        grid-column-start: 2;
        grid-column-end: 3;
        background:linear-gradient(rgba(48, 45, 45, 0.3),rgba(53, 47, 47, 0.3)),url("../images/bags-category.jpg") ;
        background-size: contain ,cover;
        background-position: center;
       
    }
    .womens {
        grid-column-start: 1;
        grid-column-end: 3;
        
        background:linear-gradient(rgba(48, 45, 45, 0.3),rgba(53, 47, 47, 0.3)),url("../images/womens-category.jpg") ;
        background-size: contain ,cover;
        background-position: center;
      
    } 
    .category {
        display: flex;
        justify-content: center;
        align-items: center;
    }

@media screen and (min-width:600px) {
    .categories {
    
        grid-template-rows: repeat(2, 220px);
        
        
     }
     .categories p {
        font-size: 27px;
    }
    
    .flex_Row1 ,.flex_Row2 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
       
    }
   
    .men {
       
        grid-column-start: 1;
        grid-column-end: 3;
       
        
    }
    .trends {
        grid-column-start: 3;
        grid-column-end: 4;
       
        
        
        }
    .glasses {
        grid-column-start: 4;
        grid-column-end: 5;
       
    }
    .sale {
        grid-column-start: 1;
        grid-column-end: 2;
        
        
    }
    .bags {
        grid-column-start: 2;
        grid-column-end: 3;
        
       
        
    }
    .womens {
        grid-column-start: 3;
        grid-column-end: 5;
        
       
    }
}
@media screen and (min-width:1240px) {
    .categories {
    
        grid-template-rows: repeat(2, 300px);
       
    }
    .categories p {
        font-size: 30px;
    }
    
    
    
}