/* * ----------------------------------------carousel------------------------------------------ */ */
.items {
    height: 500px;
    width: 100%;
}
._ProductsHeader {
    font-size: 26px;
    color:#2d2d2d;
    text-align: center;
    padding-top: 46px;
}
.headerTextItalics {
font-style: italic;
}
.headerTextBold {
    font-weight: 900;
}
.items p {
    color: #969696;

text-transform: uppercase;
    
}

.titleHeader span {
    font-style: italic;
}
.carousel-cell {
    position: relative;
    top: 47px;
    text-align: center;
    width: 100%; /* full width */
    height: 442px; /* height of carousel */
     margin-right: 10px;
}


.carousel-cell  img {
    height: 250px;
    width: 250px;
}
.carousel-cell h1 {
    color: #e2574c ;
    margin: 20px;
    font-size: 19px;
}

.flickity-page-dots {

    
    bottom: 9px;

}
.flickity-prev-next-button {
    width: 0px;
    height: 0px;
    background: transparent;
  }
@media screen and (min-width:600px) {
    .carousel-cell { 
        width: 50%; 
    }
    .carousel-cell h1 {
        font-size: 22px;
        /* width problem */
    }
    ._ProductsHeader {
        font-size: 30px;
    }
}
@media screen and (min-width:1240px) {
    .carousel-cell { 
        width: 25%; 
    }
    ._ProductsHeader {
        font-size: 33px;
    }
}