/* * ----------------------------------------carousel------------------------------------------ */
/* ------------main-container */
.items {
  height: 600px;
  width: 100%;
}
._ProductsHeader {
  font-size: 26px;
  color: #2d2d2d;
  text-align: center;
  padding-top: 46px;
}
.headerTextItalics {
  font-style: italic;
}
.headerTextBold {
  font-weight: 900;
}
.items p {
  color: #969696;
  font-size: 14px;
  text-transform: uppercase;
  position: absolute;
  margin-top: 2px;
  width: 100px;
  left: 50%;
  margin-left: -50px;
}

.titleHeader span {
  font-style: italic;
}
.carousel-cell {
  position: relative;
  top: 47px;
  text-align: center;
  width: 100%; /* full width */
  height: 500px;
  margin-right: 10px;
}

.carousel-cell img {
  height: 250px;
  width: 250px;
}
.carousel-cell h1 {
  color: #e2574c;
  margin: 20px;
  font-size: 19px;
  width: 250px;
  left: 50%;
  margin-left: -125px;
  position: absolute;
  margin-top: 32px;
}
.price_para {
  bottom: 155px;
}
.cartButton {
  display: none;
}
.flickity-page-dots {
  bottom: 40px;
}
.flickity-prev-next-button {
  width: 0px;
  height: 0px;
  background: transparent;
}

/* --------------media-queries */
@media screen and (min-width: 600px) {
  .carousel-cell {
    width: 50%;
    height: 530px;
  }
  .carousel-cell h1 {
    font-size: 22px;
    font-size: 19px;
    width: 150px;
    left: 50%;
    margin-left: -75px;
    position: absolute;
  }
  ._ProductsHeader {
    font-size: 30px;
  }
  .price_para {
    bottom: 170px;
  }
  .flickity-page-dots {
    bottom: 50px;
  }
  .cartButton {
    display: none;
  }
}
@media screen and (min-width: 1240px) {
  .carousel-cell {
    width: 25%;
    height: 550px;
  }
  ._ProductsHeader {
    font-size: 33px;
  }
  .carousel-cell h1 {
    width: 250px;
    margin-left: -125px;
  }
  .price_para {
    bottom: 204px;
  }
  .cartButton {
    display: block;
    left: 50%;
    position: absolute;
    margin-left: -50px;
    background-color: #2d2d2d;
    width: 100px;
    color: white;
    font-family: "Raleway";
    border-radius: 20px;
    height: 30px;
    border: none;
    font-size: 13px;
    font-weight: bolder;
    bottom: 26%;
  }
}
